<p id="notice"><%= notice %></p>

<h1>Bugs</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Bug type</th>
      <th>Description</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.bug_type %></td>
        <td><%= bug.description %></td>
        <td><%= bug.project_id %></td>
        <td><%= link_to 'Show', [@project] %></td>
        <td><%= link_to 'Edit', edit_project_bug_path(@project, bug) %></td>
        <td><%= link_to 'Destroy', [@project, bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_project_bug_path(@project) %>
